/Manifest*.toml


# Paper that has been used during development
papers

# Unprocessed Slepner dataset
sleipner


# Old scripts that are not part of the package but may be useful for reference
scripts_legacy